Question 1 - Extracting Tesla Stock Data Using yfinance

In [34]:
!pip install yfinance
# !pip install matplotlib
# !pip install pandas==1.3.3

Requirement already satisfied: yfinance in c:\users\aicha\anaconda3\lib\site-packages (0.2.63)
Requirement already satisfied: pandas>=1.3.0 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (3.18.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (0.11.4)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (4.25.3)
Requirement already satisfied: websockets>=13.0 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\aicha\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in c:\users\aicha\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\aicha\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aicha\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aicha\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aicha\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aicha\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aicha\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: pycparser in c:\users\aicha\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Requirement already satisfied: six>=1.5 in c:\users\aicha\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)

In [35]:
import yfinance as yf
 # import pandas as pd

Using the Ticker module to extract Tesla Stock Data

In [37]:
tesla = yf.Ticker("TSLA")

Using the attribute info to extract the stock data as a dictionary

In [11]:
#tesla.info

Using the history function to extract and stock the information in a dataframe

In [39]:
tesla_shares = tesla.history(period="max")

Using the function reset_index to change the index of the dataframe

In [40]:
tesla_shares.reset_index(inplace=True)
tesla_shares.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

Question 2: Extracting Tesla Data using webscraping

In [1]:
!pip install pandas
!pip install requests

Requirement already satisfied: pandas in c:\users\aicha\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aicha\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aicha\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aicha\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aicha\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\aicha\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: requests in c:\users\aicha\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aicha\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aicha\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aicha\anaconda3\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aicha\anaconda3\lib\site-packages (from requests) (2025.4.26)

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

Let's use the Yahoo data of Tesla stocks

In [4]:
URL = "https://companiesmarketcap.com/tesla/revenue/"

Let's use the requests.get() method and the .text method to extract the HTML content as a string for easier reading

In [11]:
data  = requests.get(URL).text

Let's parse the data using BeautifulSoup library

In [6]:
soup = BeautifulSoup(data, 'html.parser')

bs4.element.Tag

Let's create the columns of our future dataframe

In [7]:
tesla_revenue_df = pd.DataFrame(columns=["Year", "Revenue", "Change"])

Let's extract the data from the table in the HTML

In [8]:
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    year = col[0].text
    revenue = col[1].text
    change = col[2].text
    
    tesla_revenue_df = pd.concat([tesla_revenue_df,pd.DataFrame({"Year":[year], "Revenue":[revenue], "Change":[change]})], ignore_index=True)

In [10]:
tesla_revenue_df.head()

          Year   Revenue  Change
0  2025 (TTM)   $95.72 B  -2.01%
1        2024   $97.69 B   0.95%
2        2023   $96.77 B   18.8%
3        2022   $81.46 B  51.35%
4        2021   $53.82 B  70.67%

Question 3: Extracting GameStop Stock Data Using yfinance

Let's use the same method than in Q1

In [13]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\aicha\anaconda3\lib\site-packages (0.2.63)
Requirement already satisfied: pandas>=1.3.0 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (3.18.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (0.11.4)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (4.25.3)
Requirement already satisfied: websockets>=13.0 in c:\users\aicha\anaconda3\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\aicha\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in c:\users\aicha\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\aicha\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aicha\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aicha\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aicha\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aicha\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aicha\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: pycparser in c:\users\aicha\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Requirement already satisfied: six>=1.5 in c:\users\aicha\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)

In [16]:
import yfinance as yf

In [17]:
gme = yf.Ticker("GME")

In [18]:
gme_shares = gme.history(period="max")

In [19]:
gme_shares.reset_index(inplace=True)
gme_shares.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

Let's use the same method as in question 2

In [100]:
!pip install pandas
!pip install requests

Requirement already satisfied: pandas in c:\users\aicha\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aicha\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aicha\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aicha\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aicha\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\aicha\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: requests in c:\users\aicha\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aicha\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aicha\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aicha\anaconda3\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aicha\anaconda3\lib\site-packages (from requests) (2025.4.26)

In [121]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [122]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [123]:
url2 = "https://companiesmarketcap.com/gamestop/revenue/"

In [124]:
data2  = requests.get(url2).text

In [125]:
soup2 = BeautifulSoup(data2, 'html.parser')

In [126]:
gme_revenue_df = pd.DataFrame(columns=["Year", "Revenue", "Change"])

In [127]:
for row in soup2.find("tbody").find_all('tr'):
    col = row.find_all("td")
    year = col[0].text
    revenue = col[1].text
    change = col[2].text
    gme_revenue_df = pd.concat([gme_revenue_df,pd.DataFrame({"Year":[year], "Revenue":[revenue], "Change":[change]})], ignore_index=True)

In [128]:
gme_revenue_df.head()

          Year  Revenue   Change
0  2025 (TTM)   $3.82 B       0%
1        2024   $3.82 B   -27.5%
2        2023   $5.27 B  -11.04%
3        2022   $5.92 B   -1.39%
4        2021   $6.01 B   18.09%

Affichons les graphiques

In [1]:
tesla_shares.plot(kind='bar', title='Stocks of Tesla', x='Date',Y='Volume')
plot.show()

NameError: name 'tesla_shares' is not defined